api_id=get_from_telegram.org
api_hash=get_from_telegram.org
hostname=proxy_if_you_need
port=proxy_if_you_need
proxy_username=proxy_if_you_need
proxy_password=proxy_if_you_need
friend_name=your_friend_username(without @)
bot_token=get_from_FatherBot
my_id=your_telegram_id